In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as skl
import seaborn as sb

Use the dataset framingham, the data set is used to predict the 10 year risk of coronary heart disease CHD. The following is description of each feature.

• Sex: male or female(Nominal) <br>
• Age: Age of the patient; <br>
Behavioral<br>
• Current Smoker: whether or not the patient is a current smoker <br>
• Cigs Per Day: the number of cigarettes that the person smoked on average in one day.<br>
Medical( history)<br>
• BP Meds: whether or not the patient was on blood pressure medication <br>
• Prevalent Stroke: whether or not the patient had previously had a stroke <br>
• Prevalent Hyp: whether or not the patient was hypertensive (Nominal)<br>
• Diabetes: whether or not the patient had diabetes <br>
Medical(current)<br>
• Tot Chol: total cholesterol level <br>
• Sys BP: systolic blood pressure <br>
• Dia BP: diastolic blood pressure <br>
• BMI: Body Mass Index <br>
• Heart Rate: heart rate <br>
• Glucose: glucose level <br>
Predict variable (desired target)<br>
• 10 year risk of coronary heart disease CHD (“1”, means “Yes”, “0” means “No”)<br>

In [12]:
HD_df = pd.read_csv(filepath_or_buffer='framingham.csv')
HD_df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

1. Identify what are the data types of each column. (10)

Write your answer here <br>
• Sex: (Nominal) <br>
• Age: (Continuous - Although the recorded ages have been truncated to whole numbers, the concept of age is continuous) <br>
• Education: Ordinal <br>
Behavioral<br>
• Current Smoker: (Nominal)<br>
• Cigs Per Day: (can be considered continuous as one can have any number of cigarettes, even half a cigarette.)<br>
Medical( history)<br>
• BP Meds: (Nominal)<br>
• Prevalent Stroke: (Nominal)<br>
• Prevalent Hyp: (Nominal)<br>
• Diabetes: (Nominal)<br>
Medical(current)<br>
• Tot Chol: (Continuous)<br>
• Sys BP: (Continuous)<br>
• Dia BP: (Continuous)<br>
• BMI: (Continuous)<br>
• Heart Rate: (Continuous - In medical research, variables such as heart rate though in fact discrete, yet are considered continuous because of large number of possible values.)<br>
• Glucose: (Continuous)<br>
Predict variable (desired target)<br>
• 10 year risk of coronary heart disease CHD (binary: “1”, means “Yes”, “0” means “No”)<br>

2. Create a correlation heatmap of the data (10)

In [2]:
#Enter your code here.

3. According to the heatmap, do you think some of the feature should not be count in the logistic regression? Which ones? (10)

Enter your answer here

4. How many empty values are there in each risk factor?(10)

In [1]:
#Enter your code here.

5. Show how you will handle these null values for each risk factor? Why? (10)

Enter your answer here

6. Handle these null values. (10)

In [3]:
#Enter Your code here

7. Show the histogram of each factors(10)

In [4]:
#Enter your code here

8. Split the data set into X_train, X_test, y_train, y_test. (10)

In [20]:
#Enter your code here

9. Train the value and show the predict result of first 10 data points. (10)

In [5]:
#Enter your code here

10. Evaluate the model.(10) (You can use any score or method to evaluate the model, but you need to explain detail about your result)

In [6]:
#Enter your code here