In [1]:
import pandas as pd
import numpy as np

In [2]:
DubaiHome = pd.DataFrame({
    "neighborhood": ["d1", "Downtown Dubai", "d2", "Downtown Dubai"],
    "price": [1000000, 150000, 200000, 180000]
})

In [10]:
DubaiHome[(DubaiHome["neighborhood"] == "Downtown Dubai") & (DubaiHome["price"] <= 2000000)]

     neighborhood   price
1  Downtown Dubai  150000
3  Downtown Dubai  180000

In [ ]:
USaccidents.groupby(by = 'City')['Houston']['Street'].value_counts().head(1)