# Homework 4 - Neural Networks - Ujwal Joshi

### Problem statement and Datasets
- Your task for this homework will be to construct a neural network for both a regression
and classification task. We'll be using the california dataset for the regression portion,
and iris for classification. By the end of this hw you should be comfortable using sklearn'sneural network on a dataset.
- The data we'll be using for this hw will come directly from sklearn. Sklearn has built in
datasets that we can download by running a single command. 
- Datasets: 2 dataset
   - California housing dataset
   - Iris dataset
      - sepal length (cm)
      - sepal width (cm)
      - petal length (cm)
      - petal width (cm)

### California Housing Dataset
- Attributes
   - MedInc
   - HouseAge
   - AveRooms
   - AveBedrms
   - Population
   - AveOccup
   - Latitude
   - Longitude

### Part1 Reading and Understanding the Data (Regression Part)
- Import `fetch_california_housing` from sklearn. We then proceed to saving this data into data frame (X), and our target/labels in a variable (y). Use these variables (X data frame
and y) for the regression portion of this homework.
- TODO:
   - Print some basic statistics of your data.
   - Print some general information about your data using pandas.
   - By looking at our previous output, are there any missing values in this dataset? How do we know?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

importing dataset and storing data and target into X and y data frames.

In [13]:
from sklearn.datasets import fetch_california_housing

housing_sk = fetch_california_housing()

X = pd.DataFrame(housing_sk.data, columns=housing_sk.feature_names)
y = pd.DataFrame(housing_sk.target, columns=['HouseValue'])

In [14]:
X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [15]:
y.head()

   HouseValue
0       4.526
1       3.585
2       3.521
3       3.413
4       3.422

In [16]:
X.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [17]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

In [18]:
y.describe()

         HouseValue
count  20640.000000
mean       2.068558
std        1.153956
min        0.149990
25%        1.196000
50%        1.797000
75%        2.647250
max        5.000010

In [19]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   HouseValue  20640 non-null  float64
dtypes: float64(1)
memory usage: 161.4 KB

In [24]:
print(f'X (data) has {X.isnull().sum().sum()} missing or null values')
print(f'y (target) has {y.isnull().sum().sum()} missing or null values')

X (data) has 0 missing or null values
y (target) has 0 missing or null values

**answer:** Based on the previous outputs we can conclude that there are no missing values in this dataset based on the outputs of the `info` and `isnull` functions.